@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap");

$prime-color: rgb(52, 58, 64);
$secondary-color: rgb(86, 90, 95); // #565a5f
$third-color: rgb(123, 127, 131); // #b4b8bd
$forth-color: rgb(205, 211, 216);
$fifth-color: rgb(232, 235, 240);
$sixth-color: rgb(249, 250, 252);
$accent-color: rgb(231, 104, 69); // #e76845
$accent-lighter-color: rgb(253, 221, 132); // #dd6c4f; // rgb(251, 211, 101)
$accent-lighter-color-2: rgb(248, 203, 80);
$accent-deeper-color: rgb(165, 90, 70);
$normal-color: #9e8568;
$lowfat-color: #8093b5;
$meat-color: #f09797;
$vage-color: #7ca390;

$linear-h: linear-gradient(90deg, $forth-color, $fifth-color);
$linear-v: linear-gradient(230deg, $forth-color, $accent-color);
$default-trans: all 0.3s ease 0s;
$default-shadow: 0px 0px 15px rgba($forth-color, 0.7); // offset-x | offset-y | blur-radius | color
$shadow-lighter: 0px 0px 15px rgba($fifth-color, 0.7);
$shadow-deeper: 0px 0px 10px rgba($accent-deeper-color, 0.6);
$shadow-bottom: 0 7px 5px -4px rgba($fifth-color, 1);

@mixin text($weight: 700, $size: 1rem, $color: $prime-color, $spacing: 1px) {
  font-family: sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-decoration: none;
  letter-spacing: $spacing;
}

@mixin default-input($width: 150px) {
  @include text(normal, 1rem, $secondary-color);
  width: $width;
  border: $forth-color solid 1px;
  border-radius: 5px;
  padding: 1px 5px;

  &:focus {
    border: $accent-lighter-color solid 1px;
  }
}

@mixin default-btn($color: $secondary-color) {
  @include text(normal, 1rem, white);

  width: fit-content;
  height: fit-content;
  background-color: $color;
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  margin: 5px;
  transition: $default-trans;

  &:hover {
    opacity: 0.8;
  }
}

@mixin stroke($color: $accent-color, $padding: 5px 15px, $margin: 5px) {
  @include text(normal, 1rem, $color);

  width: fit-content;
  height: fit-content;
  background-color: white;
  border: solid 1px $color;
  border-radius: 3px;
  padding: $padding;
  margin: $margin;
  transition: $default-trans;
}

@mixin root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  .form-control:focus,
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {
    border-color: $accent-lighter-color;
    box-shadow: 0 0 8px rgba($accent-lighter-color, 0.5);
    outline: 0 none;
  }

  button.btn:focus,
  button[type="button"]:focus,
  a[class="page-link"]:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }
}
