@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');

$prime-color: rgb(52, 58, 64);
$secondary-color: rgb(73, 80, 87);
$third-color: rgb(173, 181, 189);
$forth-color: rgb(214, 215, 216);
$fifth-color: rgb(241, 242, 243);
$accent-color: rgb(231, 104, 69);
$accent-lighter-color: rgb(253, 221, 132);// #dd6c4f; // rgb(251, 211, 101)
$accent-deeper-color: rgb(165, 90, 70);
$linear: linear-gradient(90deg, $forth-color 10%, $fifth-color);
$default-trans: all 0.3s ease 0s;

@mixin text($weight: 700, $size: 1rem, $color: $prime-color) {
    font-family: sans-serif;
    font-weight: $weight;
    font-size: $size;
    color: $color;
    text-decoration: none;
    letter-spacing: 0.03rem;
}

@mixin root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}