@import "global";

div.add-ingredient {
  div.form {
    margin-top: 10px;
    width: 100%;
    height: auto;
    box-shadow: $shadow-bottom;
    padding: 30px 5% 30px 10%;
    border-radius: 5px;
    background-color: $sixth-color;
    // white-space: nowrap;

    .input {
      text-align: left;

      input {
        @include default-input();
        margin: 5px 8px 10px 0;
      }

      .note {
        display: inline-block;
      }

      .message {
        @include text(bold, 1rem, $accent-color);
        margin-top: 8px;
      }

      button {
        display: inline-block;
      }
      .col-2 {
        position: relative;

        .right {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
}
