@import "global";

* {
  @include root;
}

.wrapper {
  display: flex;

  // #sidebar 表示sidebar出現 (<768px 相反)
  // #sidebar.switcher 表示sidebar隱藏 (<768px 相反)
  .mCustomScrollbar {
    width: 250px;
    height: 100vh; // vh 表viewport height
    transition: $default-trans;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(70, 70, 70, 0.15);
  }

  #sidebar {
    .sidebar-header {
      display: flex;
      align-items: center;
      height: 90px;

      img {
        max-width: 60px;
        margin: 15px;
      }
      div {
        @include text(900, 20px, $accent-color);
        line-height: 1.3;
      }
    }

    #id {
      @include text(400, 18px, $secondary-color);
      padding: 10px 20px;
      margin-bottom: 20px;
    }

    ul {
      padding-inline-start: 20px !important;
      list-style: none;
    }

    a[data-bs-toggle="collapse"] {
      position: relative;
      display: block;

      // 下拉小箭頭
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
      }
    }

    // 下拉式選單
    ul > li {
      .manager-title {
        // 標題
        @include text(400, 16px, $accent-color);
        cursor: pointer;
        display: block;
        margin: 10px 0;
      }

      ul > li > a {
        // 細向
        @include text(400, 14px, $prime-color);
        display: block;
        cursor: pointer;
        padding: 8px 0;
      }
    }
  }

  // 是class=mCustomScrollbar 且 class=switcher
  .mCustomScrollbar.switcher {
    margin-left: -250px;
  }

  // RWD 預設是關閉
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
    }

    #sidebar.active {
      margin-left: 0;
    }
  }
}

button#sidebarCollapse {
  background-color: $third-color;
  border: none;
  border-radius: 3px;
  padding: 8px;
  margin: 10px 0;
  color: #ffffff;
  cursor: pointer;
}
