@import "global";

.react-bootstrap-table {
  overflow: auto;
}

div.tools {
  margin: 10px 20px -10px 0;
  text-align: right;

  button:disabled {
    border: $third-color solid 1px;
    color: $secondary-color;
  }

  button:hover:not(:disabled) {
    background-color: $accent-color;
    color: white;
  }
}

.note {
  @include text(bold, 0.9rem, $accent-color);
}

.employee-manager {
  div.tools {
    form {
      margin-top: 10px;
      width: 100%;
      height: 280px;
      box-shadow: $shadow-bottom;
      padding: 25px 15px;
      border-radius: 5px;
      background-color: $sixth-color;
      white-space: nowrap;

      .input {
        display: flex;
        position: relative;
        height: auto;
        justify-content: space-between;
        text-align: center;

        // each input block
        label {
          vertical-align: top;
          width: 80px;
          margin-bottom: 35px;
        }

        // 包input和error msg的div
        & > div > div > div {
          display: inline-block;
          text-align: left;

          input {
            margin: 0;
            margin-bottom: 2px;
          }
        }

        input,
        select {
          @include default-input();
          margin-bottom: 5px;
          margin-left: 5px;

          &:focus {
            border: $accent-lighter-color solid 1px;
          }
        }

        .message {
          @include text(bold, 0.9rem, $accent-color);
          position: absolute;
          right: 23px;
          top: 32px;
        }

        button {
          position: absolute;
          bottom: 0;
          right: 100px;
        }
      }
    }
  }

  div.react-bootstrap-table {
    tr > th:nth-child(2) {
      label {
        width: 70px !important;
      }
    }

    tr > th {
      margin-bottom: auto;
      vertical-align: baseline;
    }
  }

  // hover styled for editable rows of role
  tr > td:last-child {
    transition: $default-trans;
    cursor: pointer;

    &:hover {
      background-color: $fifth-color;
    }
  }
}
