@import "global";

.dialog-wrapper {
  @include text(bold, 1rem, white);
  z-index: 99999999;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
}

.dialog {
  background-color: $accent-lighter-color-2;
  box-shadow: $default-shadow;
  min-width: 200px;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}