@import "global";

.ingredients-stock {
  @include text(normal, 1rem, $secondary-color);

  label[for="text-filter-column-id"],
  label[for="text-filter-column-stock"] {
    width: 100px;
  }

  label[for="text-filter-column-safetyStock"],
  thead > tr > th:last-child {
    min-width: 130px;
  }

  // 熱量 沒有的話sort會折行
  th:nth-last-child(2),
  th:last-child {
    vertical-align: text-top;
    min-width: 100px;
  }

  // hover style for editable
  tbody > tr > td {
    transition: $default-trans;
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12) {
      &:hover {
        background-color: $fifth-color;
      }
    }
  }

  div.number-filter {
    width: 150px;

    label.filter-label {
      display: inline-block;
      width: auto;
      margin-right: 10px;

      #number-filter-comparator-price {
        width: 70px;
      }
    }

    label:nth-child(2) {
      display: inline-block;
      width: auto;

      #number-filter-column-price {
        width: 70px;
        font-size: 12px;
      }
    }
  }
}
