@import "global";

div.recipe-manager {
  div.detail {
    display: flex;

    .step {
      flex: 2 1 auto; // flex-grow shink basis

      tr > td:nth-child(1) {
        width: 100px;
      }
    }

    .ingredients {
      flex: 1 1 auto;
    }

    & > div {
      width: auto;
      background-color: rgb(244, 245, 247);
      margin-left: 20px;
      border-radius: 5px;
      padding: 15px 20px;

      // 步驟/食材 標題
      & > div {
        font-weight: bold;
        width: fit-content;
        padding: 0 3px 5px;
        border-bottom: 3px solid $accent-lighter-color-2;
      }

      // 步驟/食材 內容
      tr > td {
        padding-top: 12px;
        padding-right: 40px;
        vertical-align: top;
      }

      tr > td:last-child {
        padding-right: 0;
      }
    }
  }
}
