@import "global";

.recipe-editor {
  @include text(normal, 1rem, $secondary-color);
  position: relative;

  input {
    @include default-input(200px);
  }

  textarea {
    @include default-input(auto);
  }

  & > form > div,
  & > div {
    box-shadow: $shadow-lighter;
    border-radius: 5px;
    width: auto;
    padding: 20px 40px;
    margin: 15px;
    margin-left: 0;

    // 大標
    & > p {
      @include text(bold, 1.1rem, $secondary-color);
      border-bottom: 3px solid $accent-lighter-color;
      width: fit-content;
      margin-bottom: 15px;
    }

    label.sub-title {
      width: 120px;
      font-weight: bold;
    }

    div.content,
    div.content > form {
      margin-left: 10px;
      min-height: 70px;

      // input外
      > div {
        display: inline-block;
        position: relative;
        margin-left: 8px;
        margin-right: 20px;
      }

      div.note {
        position: absolute;
        bottom: -30px;
        right: 0;
      }

      form#addIngredient {
        input {
          width: 150px;
        }
      }
    }

    input#link {
      width: 420px;
    }
  }

  div.ii-version {
    margin-bottom: 20px;
    width: 225px;

    select {
      display: inline-block;
    }
  }

  button.ts-default {
    @include default-btn();
    margin-top: -5px;

    &.right {
      float: right;
    }

    &:disabled {
      background-color: $forth-color;
    }

    &:not(:disabled):hover {
      background-color: black;
    }
  }

  div.add-version {
    text-align: center;

    button.add-version {
      margin: 0 12px 0 0;
      background-color: $accent-lighter-color-2;
      font-weight: bold;
      font-size: 1.1rem;
      width: 120px;
      height: 40px;

      &:hover {
        background-color: $accent-lighter-color;
      }
    }
  }

  p.next {
    position: absolute;
    height: 100px;
    right: 55px;
    bottom: -100px;

    button.save-all {
      margin-top: 40%;
      &:not([disabled]) {
        background-color: $accent-color;
      }
    }
  }

  a.next {
    @include default-btn();
    margin: 20px 60px;
    color: white;
    float: right;
    background-color: $accent-color;
  }
}
