@import "global";

.recipe-editor {
  @include text(normal, 1rem, $secondary-color);
  position: relative;

  input {
    @include default-input(200px);
  }

  textarea {
    @include default-input(auto);
  }

  & > form > div,
  & > div:not(.next, .back) {
    box-shadow: $shadow-lighter;
    border-radius: 5px;
    width: auto;
    padding: 20px 40px;
    margin: 15px;
    margin-left: 0;

    // 大標
    & > p {
      @include text(bold, 1.1rem, $secondary-color);
      border-bottom: 3px solid $accent-lighter-color;
      width: fit-content;
      margin-bottom: 15px;
    }

    label.sub-title {
      width: 120px;
      font-weight: bold;
    }

    div.content,
    div.content > form {
      margin-left: 10px;
      min-height: 70px;

      // input外
      > div {
        display: inline-block;
        position: relative;
        margin-left: 8px;
        margin-right: 20px;
      }

      div.note {
        position: absolute;
        bottom: -30px;
        right: 0;
      }

      form#addIngredient {
        input {
          width: 150px;
        }
      }
    }

    input#link {
      width: 420px;
    }
  }

  button.ts-default {
    @include default-btn();

    &.top-adjust {
      margin-top: -5px;
    }

    &.right {
      float: right;
    }

    &:disabled {
      background-color: $forth-color;
    }

    &:not(:disabled):hover {
      background-color: black;
    }
  }

  div.dropdown {
    width: 225px;

    select {
      display: inline-block;
    }
  }

  div.add-version {
    display: flex;
    justify-content: center;

    button.add-version {
      margin: 0 40px;
      background-color: $accent-lighter-color-2;
      font-weight: bold;
      font-size: 1.1rem;
      width: 120px;
      height: 40px;

      &:hover {
        background-color: $accent-lighter-color;
      }

      &.disable {
        background-color: $forth-color;
        pointer-events: none; // 可取代disabled
      }
    }
  }

  // adjust icon position
  svg {
    padding-bottom: 2px;
  }

  p.next {
    position: absolute;
    height: 90px;
    padding-right: 55px;
    padding-left: 40px;
    bottom: -130px;
    width: 100%;

    button.save-all {

      &:not([disabled]) {
        background-color: $accent-color;
      }
    }

    button.this-page {
      @include stroke();
    }

    a.back {
      @include default-btn($secondary-color);
      color: white;
      float: left;
      display: block;

      svg {
        margin-left: 3px;
      }
    }
  }

  // for RecipeImageEditor page
  div.next {
    margin: 20px 60px;
    float: right;

    a.next {
      @include default-btn($accent-color);
      color: white;
    }

    button.this-page {
      @include stroke();
    }
  }

  div.back {
    margin: 30px 0;
    float: left;
    height: fit-content;

    a.back {
      @include default-btn($secondary-color);
      color: white;

      svg {
        margin-left: 3px;
      }
    }
  }
}
