@import "global";

.recipe-editor {
  @include text(normal, 1rem, $secondary-color);
  position: relative;

  input {
    @include default-input();
  }

  & > form > div,
  & > div {
    box-shadow: $shadow-lighter;
    border-radius: 5px;
    width: auto;
    padding: 20px 40px;
    margin: 15px;
    margin-left: 0;

    // 大標
    & > p {
      @include text(bold, 1.1rem, $secondary-color);
      border-bottom: 3px solid $accent-lighter-color;
      width: fit-content;
      margin-bottom: 15px;
    }

    p.sub-title {
      font-size: 1rem;
      margin: 10px;
      font-weight: bold;
    }

    div.content,
    div.content > form {
      margin-left: 10px;
      min-height: 70px;

      // input外
      > div {
        display: inline-block;
        position: relative;
        margin-left: 8px;
        margin-right: 20px;
      }

      div.note {
        position: absolute;
        bottom: -30px;
        right: 0;
      }
    }

    input#link {
      width: 320px;
    }

    input[type="number"] {
      width: 80px;
    }
  }

  button:not(.carousel-control-prev, .carousel-control-next) {
    @include default-btn();
    float: right;
    margin-top: -5px;

    &:disabled {
      background-color: $forth-color;
    }

    &:not(:disabled):hover {
      background-color: black;
    }
  }

  p.next {
    position: absolute;
    height: 100px;
    right: 55px;
    bottom: -100px;

    button.save-all {
      margin-top: 40%;
      &:not([disabled]) {
        background-color: $accent-color;
      }
    }
  }

  a.next {
    @include default-btn();
    margin: 20px 60px;
    color: white;
    float: right;
    background-color: $accent-color;
  }
}
