@import "global";

.sub-root {
  width: 100%;
  height: 100vh;
}

// 至頂的標題列（不太需要 看sidebar就知道在哪頁了）
// .header {
//   height: 90px;
//   color: #ffffff;
//   display: flex;
//   align-items: center;
//   background: $linear;
//   margin-left: -66px;
//   padding-left: 60px;
//   z-index: 99999;
// }

.container {
  display: relative;
  align-self: center;
}

.register {
  @include text(600, 16px, $secondary-color);
  background-color: $fifth-color;
  width: 400px;
  height: 600px;
  margin: auto;
  padding: 30px 50px;
  border-radius: 10px;
  position: relative;

  &::before {
    content: "歡迎 ~";
    @include text(900, 50px, $forth-color);
    position: absolute;
    left: 30px;
    top: -80px;
  }

  .form > label {
    width: 130px;
    margin-bottom: 2.5rem;
  }

  .form > div {
    display: inline-grid;
  }

  input {
    @include text(600, 16px, $secondary-color);
    font-size: 14px;
    width: 170px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 2px 6px;
    display: inline;

    &::placeholder {
      color: $third-color;
    }
  }
  input ~ div {
    font-size: 14px;
    padding: 5px 0 0 7px;
    color: $accent-color;
  }
  button {
    @include text(600, 16px, #ffffff);
    transition: $default-trans;
    border: none;
    background-color: $secondary-color;
    padding: 5px 15px;
    outline: none;
    border-radius: 3px;
    float: right;

    &:hover {
      background-color: $accent-color;
    }
  }
}
