@import "../_global";

.react-bootstrap-table {
  @include text(normal, 0.9rem, $accent-color);
  padding: 20px 20px 20px 0;

  th {
    outline: 0;
  }

  .filter-label {
    display: block;
    width: 120px;

    input {
      margin-top: 5px;
      height: 32px;

      &::placeholder {
        font-size: 0.85rem;
      }
    }
    .expandd {
      transition: $default-trans;
    }
    select {
      margin-top: 5px;
      height: 32px;
      font-size: 0.85rem;
    }
  }

  // info icon
  tr > td > svg {
    width: 34px;
  }
}

.react-bootstrap-table-pagination {
  // 頁數
  .react-bootstrap-table-page-btns-ul {
    li.active > a.page-link {
      background-color: $secondary-color;
      border: $secondary-color solid 1px;
    }

    li:not(.active) > a.page-link {
      color: $secondary-color;
    }

    // .dropdown-item > a {
    //   color: $accent-color;
    // }
  }

  // 每頁顯示幾row
  .btn-group {
    button {
      border: $fifth-color solid 1px;
    }
    button:not(.selected) {
      color: $secondary-color;
    }
    button.selected {
      background-color: $secondary-color;
      color: #fff;
      border: $secondary-color solid 1px;
    }
  }
}

.sc-bdfBwQ {
  position: relative;
  @include text(normal, 0.9rem, $secondary-color);
}
.dataLength {
  position: absolute;
  margin: 0;
  right: 25px;
  bottom: 23px;
}
