@import "../_global";

.upload-images {
  button {
    @include default-btn();
  }

  button.upload-btn {
    background-color: $accent-lighter-color-2;
  }

  input[type="file"] {
    width: auto;
    outline: 0;
    border: 0;
  }

  div.progress-group {
    width: 100%;

    div.progress {
      background-color: transparent;
      height: auto;
      width: 900px;

      & > .progress-bar {
        background-color: $accent-color;
        margin-top: 15px;
        height: 30px;
      }
    }
  }

  div.carousel {
    max-width: 900px;
    max-height: 900px;
    margin: 15px 0;
  }

  div.file-name {
    line-height: 2;
  }
}
